<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mypractice"
    android:versionCode="1"
    android:versionName="1.0"
    tools:node="replace">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <permission android:name="com.android.SEND_BRO"/>
    <uses-permission android:name="com.android.SEND_BRO"/>
    <application
        android:name="com.example.mypractice.YUApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ApiLaunch"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AutoGridLayoutAct"
            android:label="view/autogridlayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".graphic.DrawingBoradAct"
            android:label="graphic/drawingboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".matrix.FlowerAct"
            android:label="matrix/flower">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dialog.PopuwindowAct"
            android:label="dialog/popuwindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".jsy.StreamSettingAct"
            android:label="jsy/streamSettingAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gradient.RadialGradientAct"
            android:label="gradient/radialgradient">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".resource.drawable.DrawableResourceInfoAct"
            android:label="resource/drawable/resourceInfo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".canvas.DrawArcByPaintAct"
            android:label="canvas/drawarcBypaint">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".canvas.PaintFlagsDrawFilterAct"
            android:label="canvas/paintFlagsDrawFilterAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".canvas.CreateBitmapAct"
            android:label="canvas/CreateBitmapAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".canvas.ColorMatrixFilterAct"
            android:label="canvas/ColorMatrixFilterAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".matrix.TranslateAndRotation"
            android:label="matrix/TranslateAndRotation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gradient.LinearGradientAct"
            android:label="gradient/LinearGradientAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".resource.drawable.LampCordAct"
            android:label="drawable/LampCordAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".v7.RecycleViewAct"
            android:label="v7/RecycleViewAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".v7.RecycleViewPagerAct"
            android:label="v7/RecycleViewPagerAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ScrollerStudyAct"
            android:label="view/ScrollerStudyAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ScrollViewAct"
            android:label="view/ScrollViewAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".v4.DragHelperAct"
            android:label="v4/DragHelperAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".v4.DrawerlayoutAct"
            android:label="v4/DrawerlayoutAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".v7.ToolbarAct"
            android:label="v7/ToolbarAct"
            android:theme="@style/toolbarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".db.SQLiteAct"
            android:label="db/SQLiteAct"
            android:theme="@style/toolbarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.PicAndTextAct"
            android:label="view/PicAndTextAct"
            android:theme="@style/toolbarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".process.ProcessAct"
            android:label="process/ProcessAct"
            android:theme="@style/toolbarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>

        <service android:name=".process.ProcessService" />
        <service android:name=".process.ProcessService$InnerService" />
        <receiver android:name=".process.WakeUpBroadCast" android:permission="@string/com.example.practice.permision.RECV_BRO"/>
    </application>

</manifest>
