<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mypractice"
    android:versionCode="1"
    android:versionName="1.0"
    tools:node="replace">


    <permission android:name="com.example.practice.RECEIVE_PRO" />
    <permission android:name="com.example.practice.SEND_PRO" />

    <uses-permission android:name="com.example.practice.RECEIVE_PRO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.example.practice.SEND_PRO" />

    <application
        android:name="com.example.mypractice.YUApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ApiLaunch"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AutoGridLayoutAct"
            android:label="view/autogridlayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".graphic.DrawingBoradAct"
            android:label="graphic/drawingboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".matrix.FlowerAct"
            android:label="matrix/flower">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dialog.PopuwindowAct"
            android:label="dialog/popuwindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gradient.RadialGradientAct"
            android:label="gradient/radialgradient">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".resource.drawable.DrawableResourceInfoAct"
            android:label="resource/drawable/resourceInfo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".canvas.DrawArcByPaintAct"
            android:label="canvas/drawarcBypaint">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".canvas.PaintFlagsDrawFilterAct"
            android:label="canvas/paintFlagsDrawFilterAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".canvas.CreateBitmapAct"
            android:label="canvas/CreateBitmapAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".canvas.ColorMatrixFilterAct"
            android:label="canvas/ColorMatrixFilterAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".matrix.TranslateAndRotation"
            android:label="matrix/TranslateAndRotation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gradient.LinearGradientAct"
            android:label="gradient/LinearGradientAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".resource.drawable.LampCordAct"
            android:label="drawable/LampCordAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".v7.RecycleViewAct"
            android:label="v7/RecycleViewAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".v7.RecycleViewPagerAct"
            android:label="v7/RecycleViewPagerAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ScrollerStudyAct"
            android:label="view/ScrollerStudyAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ScrollViewAct"
            android:label="view/ScrollViewAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".v4.DragHelperAct"
            android:label="v4/DragHelperAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".v4.DrawerlayoutAct"
            android:label="v4/DrawerlayoutAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".v7.ToolbarAct"
            android:label="v7/ToolbarAct"
            android:theme="@style/toolbarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".db.SQLiteAct"
            android:label="db/SQLiteAct"
            android:theme="@style/toolbarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.PicAndTextAct"
            android:label="view/PicAndTextAct"
            android:theme="@style/toolbarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".process.ProcessAct"
            android:label="process/ProcessAct"
            android:theme="@style/toolbarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".broadcast.BroadcastAct"
            android:label="broadcast/BroadcastAct"
            android:theme="@style/toolbarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".base.LoderActivity"
            android:label="base/LoderActivity"
            android:theme="@style/toolbarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>

        </activity>
        <activity
            android:name=".v7.CardViewAct"
            android:label="v7/CardViewAct"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>

        </activity>
        <activity
            android:name=".other.RxAndroidAct"
            android:label="other/RxAndroidAct"
            android:theme="@style/toolbarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>

        </activity>
        <activity
            android:name=".canvas.ClippathAct"
            android:label="canvas/ClippathAct"
            android:theme="@style/toolbarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>

        </activity>
        <activity
            android:name=".resource.drawable.LayerListDrawableAct"
            android:label="resource/drawable/LayerListDrawableAct"
            android:theme="@style/toolbarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>

        </activity>
        <activity
            android:name=".v4.TablayoutAct"
            android:label="v4/TablayoutAct"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>

        </activity>
        <activity
            android:name=".v7.MaterilActivity"
            android:label="v7/MaterilActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>

        </activity>
        <activity
            android:name=".view.DoubleSeekBarAct"
            android:label="view/DoubleSeekBarAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>

        </activity>

        <activity
            android:name=".test.FrameLayoutTestAct"
            android:label="test/frameLayoutTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>

        </activity>
        <activity
            android:name=".resource.drawable.DrawableAct"
            android:label="resource/drawable/DrawableAct"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>

        </activity>
        <activity
            android:name=".view.TouchEventAct"
            android:label="view/TouchEventAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kotlin.DelegateActivity"
            android:label="kotlin/DelegateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".source.FouceActivity"
            android:label="source/FouceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>

        <activity
            android:name=".source.DispatchTouchActivity"
            android:label="source/DispatchTouchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".source.DrawActivity"
            android:label="source/DrawActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.demon.yu.weixin.WexinShareActivity"
            android:label="weixin/WexinShareActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".process.OtherProccesActivity"
            android:label="process/OtherProccesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.demon.yu.jvm.MemoryDoudongActivity"
            android:label="jvm/MemoryDoudongActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.demon.yu.na.GaussianActivity"
            android:label="na/GaussianActivity"
            android:theme="@style/AppBaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".resource.drawable.DrawableAct2"
            android:label="resource/drawable/DrawableAct2"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.demon.yu.view.NextScrollViewAct"
            android:label="view/NextScrollViewAct"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.demon.yu.window.OverlayWindowActivity"
            android:label="win/OverlayWindowActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.demon.yu.jetpack.FragmentLifeCycleAct"
            android:label="jetpack/FragmentLifeCycleAct"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.GradientViewActivity"
            android:label="view/GradientViewActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.apidemons.CATEGORY_SAMPLES" />
            </intent-filter>
        </activity>

        <service android:name=".process.BinderService" />
        <service android:name=".process.ProcessService" />
        <service android:name=".process.ProcessService$InnerService" />
        <service android:name=".process.BinderService" />

        <receiver android:name=".process.WakeUpBroadCast" />
        <receiver android:name=".broadcast.StanderBro" />
        <receiver
            android:name=".broadcast.ReceivePermissionBro"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.action.TEST_RECEIVE_BRO" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.SendPermissionBro"
            android:exported="true"
            android:permission="com.example.practice.SEND_PRO">
            <intent-filter>
                <action android:name="com.example.action.TEST_SNED_BRO" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
